@import url(./_active/header__lang_active.css);

.header__lang {
  max-width: 30px;
  margin-left: 18px;
}

.header__lang:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .header__lang {
    max-width: 22px;
  }
}
