.link_place_places {
  max-width: 456px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .link_place_places {
    max-width: 352px;
  }
}
