.footer__list {
  margin: 0;
  display: flex;
  padding: 0;
  max-height: 18px;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .footer__list {
    max-width: 186px;
    max-height: 80%;
    flex-direction: column;
    justify-content: start;
  }
}
